.fancy-check {
    color: #333;
}
.colors-container{
    margin: 10px 0px;
    padding: 40px 20px; 
    background-color: white; 
    border-radius: 15px; 
/*    box-shadow: inset 0px 0px 10px 5px #00000088;*/
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    transition: height 0.5s;
}

.tile {
    display: inline-block;
    margin-right: 25px; 
    margin-bottom: 25px; 
    width: 175px; 
    height: 225px; 
    background-color: #00192F; 
    border-radius: 15px; 
    text-align: center; 
    box-shadow: 3px 3px 20px 2px #00000088; 
    background-color: #EEE; 
    color: #111;
    transition: all 1s;
}
.tile-color {
    height: '125px';
    width: '100%';
    border-top-right-radius: '15px';
    border-top-left-radius: '15px';
}